@import url("./root.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    box-sizing: border-box;
    list-style: none;
}
#preloader{
    background: #000 url("/assets/img/png/redblock.gif") no-repeat center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.slider{
    height: 300px;
    display: grid;
    overflow: hidden;
}
.slider-track{
    display: flex;
    width: calc(250px*18);
    animation: scroll 4s linear infinite;
}
.slide{
    height: 200px;
    display: flex;
}
.img_1{
    width: 100%;
    transition: transform 1s;

}
.img_1:hover{
    transform: translateZ(20px);
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px));
    }
}
.slide-track:hover{
    animation-play-state: paused;
}
.col-xsm-6{
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}
.icn{
     display: inline-block;
     position: relative;
     color: #0087ca;
}
.icn:after {
     content: '';
     position: absolute;
     width: 100%;
     transform: scaleX(0);
     height: 2px;
     bottom: 0;
     left: 0;
     background-color: #0087ca;
     transform-origin: bottom right;
     transition: transform 0.60s ease-out;
}
.icn:hover:after {
     transform: scaleX(1);
     transform-origin: bottom left;
}  
.bcg_hdr{
    background-color: #D2DA60;
}
.nav_lnk{
    color: #9003E5;
    font-family: 'Poppins';
    font-weight: 400;
}
.nav_lnk:hover{
    color: #9003E5;
    font-family: 'Poppins';
    font-weight: 600;
}
.bcg_img{
    background-image: url("/assets/img/png/home1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.splsh{
    color: #8A3E74;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
}
.brng{
    color: #000;
    font-family: 'Poppins';
    font-weight: 500;
}
.nav_pstn{  
    position: sticky;
    top: 0;
    z-index: 50;
}
.btn_1{
    font-family: 'Poppins';
    font-weight: 500;
    background: var(--linear, linear-gradient(90deg, #9104E5 0%, #F93B96 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 13px 45px;
    border: 5px solid;
    
}
.img1:hover{ 
    width: 10px;
    height: 10px; 
    transform: scale(1.2);
}
.fnt_why{
    color: #000;
    font-family: 'Poppins';
    font-weight: 700;
}
.fnt_faux{
    color: #000;
    font-family: 'Poppins';
    font-weight: 500;
}
.img_pstn{
    position: absolute;
    top: 60%;
    left: 0;
}
.img_pstn1{
    position: absolute;
    top: 0;
    right: 0;
}
.img_pstn2{
    position: absolute;
    top: 0;
    left: 0;
}
.img_pstn3{
    position: absolute;
    top: 12%;
    right: 0;
}
.z_index{
    z-index: -10 !important;
}
.img_pstn10{
    margin-top: 100px;
    margin-left: 200px;
}
.img_pstn14{
    margin-top: 100px;
    margin-left: 130px;
}
.img_pstn17{
    margin-top: 100px;
    margin-left: 20px;
}
.img_pstn11{
    position: absolute;
    top: 70%;
    left: 25%;
}
.img_pstn12{
    position: absolute;
    top: 65%;
    left: -40%;
}
.img_pstn13{
    position: absolute;
    top: 62%;
    right: -30%;
}
.img_pstn_19{
    position: absolute;
    top: 60%;
    right: 25%;
    z-index: -1 ;
}
.img_pstn15{
    position: absolute;
    top: 68%;
    left: 28%;
}
.img_pstn16{
    position: absolute;
    top: 62%;
    right: 14%;
}
.fnt_glry{
    color: #000;
    font-family: 'Poppins';
    font-weight: 700;
}
.fnt_welcm{
    color: #000;
    font-family: 'Poppins';
    font-weight: 700;
}
.fnt_lrm{
    color: #000;
    font-family: 'Poppins';
    font-weight: 400;
}
.pt30{
    padding-top: 200px;
    margin-left: 30px;
}
.pt90{
    padding-top: 220px;
    margin-left: 10px;
}
.ml120{
    margin-left: 120px;
}
.ml135{
    margin-left: 135px;
}
.fnt_read{
    color: #FFF;
    text-align: justify;
    font-family: 'Poppins';
    font-weight: 400;
}
.btn_read{
    width: 165px;
    height: 50px;
    padding: 11px 34px;
    border-radius: 4px;

}
.fnt_ins{
    color: #000;
    font-family: 'Poppins';
    font-weight: 700;
}
.fnt_pdca{
    color: #000;
    font-family: 'Poppins';
    font-weight: 400;
}
.img_rds_1{
    border-radius: 22px;
}
.mt150{
    margin-top: 150px;
}
.box_2{
    width: 95%;
    height: 300px;
    border-radius: 45px;
    background: #F0F0F0;
}
.img_hvr{
    transition: all 300ms ease-in-out;
}
.img_hvr:hover{
    transform: scale(1.1);
}
.form-control {
        max-width: 670px;margin-left: auto;
        margin-right: auto;
        padding: 10px 10px 10px 40px ;
        border-radius: 1px;
}
.btn {
    margin-left: 25px;
    font-size: 18px;
    font-weight: 400;
    width: 100px;
    height: 45px;
    --bs-btn-border-radius: 1px;
    --bs-btn-bg: #010080;
    border: none;
}
.ds_block{
    display: block;
}
.fnt_our{
    position: absolute;
    top: 20%;
    left: 14%;
    color: #FFF;
    font-family: 'Poppins';
    font-weight: 700;
}
.fnt_news{
    font-family: 'Poppins';
    font-weight: 700;
    opacity: 0.5;
    background: var(--linear, linear-gradient(90deg, #9104E5 0%, #F93B96 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 25%;
    left: 15%;
}
.fnt_ipsm{
    position: absolute;
    top: 40%;
    left: 10%;
    padding: auto;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
}
.fnt_tst{
    color: #000;
    font-family: 'Poppins';
    font-weight: 700;
}
.fnt_smpl{
    color: #000;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
}
.fnt_laurie{
    color: #000;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 700;
}
.fnt_lrm{
    padding: 10px 15px;
    color: #000;
    font-family: 'Poppins';
    font-weight: 400;
}
.fnt_lorm{
    color: #FFF;
    font-family: 'Poppins';
    font-weight: 400;
}
.fnt_cntnt{
    color: #FFF;
    font-family: 'Poppins';
    font-weight: 600;
}
.fnt_lnk_1{
    color: #FFF;
    font-family: 'Poppins';
    font-weight: 400;
    margin-left: 5px;
}
.fnt_lnk{
    color: #FFF;
    font-family: 'Poppins';
    font-weight: 400;
    margin-left: 20px;
}
.fnt_copy{
    color: #FFF;
    font-family: 'Poppins';
    font-weight: 400;
}
.fnt_team{
    color: #FFF;
    font-family: 'Poppins';
    font-weight: 700;
}
.img_pstn_4{
    position: absolute;
    top: -4.1%;
    left: -1%;
}
.img_pstn_5{
    position: absolute;
    top: 0;
    right: 0;
}
.img_pstn_6{
    position: absolute;
    bottom: 5%;
    left: 2%;
}
.img_pstn_7{
    position: absolute;
    bottom: 0;
    right: 2%;
}
.hgt{
    height: 950px;
}
.mt80{
    margin-top: 60px;
}
.img_hover_3 {
    position: relative;
}
.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: visible;
    border-radius: 25px;
}
.middle_4 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 5%;
    left: 10% !important;
    text-align: center;
}  
.img_hover_3:hover .image {
    opacity: 0.8;
}  
.img_hover_3:hover .middle_4 {
    opacity: 1;
}
.text_2 {
    background-color: white;
    color: black;
    padding: 10px 10px;
    font-weight: 400;
    width: 500px;
}
button {
    background: none;
    text-decoration: inherit;
    font-family: system-ui;
    padding: 1rem 2rem;
} 
.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
}
.border-gradient-purple {
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
.border-gradient-green {
    border-image-source: linear-gradient(to left, #00C853, #B2FF59);
}
.img_pstn_8{
    position: absolute;
    top: 15%;
    left: -25%;
}
.img_pstn_9{
    position: absolute;
    top: 34%;
    left: 0;
}
.figure {
    position: relative;
    width: 100%;
    max-width: 100%;
}
.figure img {
    display: block;
    max-width: 100%;
    height: auto;
}
.figure .image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .9s;
}
.figure:hover .image-hover {
    opacity: 1;
}
.fnt_team_1{
    color: #FFF;
    font-family: 'Poppins';
    font-weight: 500;
}
.fnt_frnk{
    color: #FFF;
    text-align: justify;
    font-family: 'Poppins';
    font-weight: 700;
}
.txt_pstn{
    position: absolute;
    bottom: -26%;
    left: 55%;
}
.txt_pstn_1{
    position: absolute;
    bottom: -32%;
    left: 40%;
}
.txt_pstn_2{
    position: absolute;
    bottom: -30%;
    left: 55%;
}
.txt_pstn_3{
    position: absolute;
    bottom: -35%;
    left: 35%;
}
.box_4{
    width: 90%;
    height: 365px;
    border-radius: 40px 0  0 40px;
    position: absolute;
    top: 53%;
    z-index: -1;
    right: 0;
    background: #EEE;
}
.box_5{
    width: 90%;
    height: 365px;
    border-radius: 0 40px 40px 0;
    position: absolute;
    z-index: -1;
    left: 0;
    background: #EEE;
    top: 35%;
}
.box_6{
    width: 90%;
    height: 365px;
    border-radius: 40px 0 0 40px;
    position: absolute;
    z-index: -1;
    right: 0;
    background: #EEE;
    top: 35%;
 }
.mt250{
    margin-top: 180px;
}
.mt260{
    margin-top: 150px;
    margin-bottom: 10%;
}
.mt15{
    margin-top: 15px;
    margin-left: 10px;
}
.ml20{
    margin-left: 15px;
}
.fnt_01{
    color: #010080;
    font-family: 'Poppins';
    font-weight: 700;
}
.fnt_resdnt{
    color: #000;
    font-family: Poppins;
    font-weight: 500;
}
.fnt_services{
    color: #000;
    font-family: 'Poppins';
    font-weight: 700;
}
.z_indx{
    z-index: 10;
}
.img_hover_2{
    position: relative;
}
.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: visible;
    border-radius: 25px;
}
.middle_2{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.middle_3{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.img_hover_2:hover .image {
    opacity: 0.8;
}
.img_hover_2:hover .middle_2 {
    opacity: 1;
}
.img_hover_2:hover .middle_3 {
    opacity: 1;
}  
.text_1 {
    color: white;
    padding: 10px 10px;
    font-weight: 400;
    width: 400px;
}
.mt220{
    margin-top: 220px;
}
.mt55{
    margin-top: 55px;
}
.mt100{
    margin-top: 100px;
  
}
.img_hover {
    position: relative;
}
.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: visible;
    border-radius: 25px;
}  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: -20% ;
    text-align: center;
}  
.img_hover:hover .image {
    opacity: 0.8;
}  
.img_hover:hover .middle {
    opacity: 1;
}
.img_hover_1{
    position: relative;
    height: 100%;
}  
.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: visible;
    border-radius: 25px;
}  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}  
.img_hover_1:hover .image {
    opacity: 0.8;
}  
.img_hover_1:hover .middle {
    opacity: 1;
}  
.text {
    background-color: white;
    color: black;
    padding: 10px 10px;
    font-weight: 400;
    width: 350px;
}
.fnt_reqst{
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-weight: 600;
    text-transform: capitalize;
}
.mt_4{
    margin-top: 20px;
}
.mt_5{
    margin-top: 50px;
}
.ms_5{
    margin-left: 35px;
}
.ds_flex{
    display: flex;
}
.col_brdr{
    border-bottom: 1px dotted  #000000;
}
.line{
    width: 100%;
    height: 3px;
    color: #fff;

}
@media (max-width: 1200px) {
    label[for="menuicon"] {
      cursor: pointer;
      width: 34px;
      height: 28px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      z-index: 1;
    }
    label[for="menuicon"] > span {
      width: 100%;
      height: 5px;
      background-color: black;
    }
    .sm-screen {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      position: fixed;
      background-color: #d2da60;
      top: 0;
      left: -100%;
      opacity: 0;
      pointer-events: none;
      transition: all 600ms ease-in-out;
    }
    input[type="checkbox"]:checked + ul.sm-screen {
      left: 0;
      opacity: 1;
      pointer-events: all;
    }

    .ml{
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .ms_5{
        margin-bottom: 25px;
    }
}
@media (min-width:320px) {
    .img_pstn18{
        position: absolute;
        left: 0;
        bottom: -1%;
    }
    .img_pstn19{
        position: absolute;
        right:1% ;
        top: 20%;
    }
    .img_pstn20{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .img_pstn21{
        position: absolute;
        bottom: 85%;
        left: 10%;
    }
    .img_pstn22{
        position: absolute;
        right: -11%;
        top: 25%;
    }
    .img_pstn23{
        position: absolute;
        top: -10%;
        left: -5%;
    }
    .ds_flex{
        display: unset;
    }
    .ds_block{
        display: unset;
    }
    .ds_none{
        display: none;
    }
    .zindx{
    z-index: -50;
    }
    .w-sm-70{
        width: 60%;
    }
    .w-sm-50{
        width: 50%;
    }
    .w-sm-100{
        width: 100%;
    }
    .box_2{
        height: 90%;
    }
    .box_4 {
        top: 14%;
        border-radius: 40px 40px  40px 40px;
        right: 5%;
        height: 50%;
    }
    .box_5 {
        border-radius: 40px 40px 40px 40px;
        left: 5%;
        top: 49%;
        height: 57%;
    }
    .box_6 {
        width: 90%;
        height: 49%;
        border-radius: 40px 40px 40px 40px;
        right: 5%;
        top: 0%;
    }
    .mt_20{
        margin-top: 30px;
    }
    .mt150{
        margin-top: 0;
    }
    .pb-3{
        padding-bottom: 0 !important;
    }
    .pt30 {
        margin-top: -30%;
        margin-left: 15px;
    }
    .pt90 {
        margin-top: -27%;
        margin-left: 5px;
    }
    .ml120{
        margin-left: 5%;
    }
    .ml135{
        margin-left: 8%;
    }
    .mt_img1{
        margin-top: 30%;
    }
    .mt250{
        margin-top: 50px;
    }
    .mt_01{
        margin-top: 10%;
        margin-left: 5%;
    }
    .ml20{
        margin-left: 8% ;
    }
    .mt_10{
        margin-top: 15px;
        margin-left: 5%;
    }
    .ml17{
        margin-top: 17%;
        margin-left: 1%;
    }
    .ml10{
        margin-left: 5%;
    }
    .mt_15 {
        margin-left: 1%;
       margin-top: 10%;
    }
    .mt_img2 {
        margin-top: 115px;
    }
    .mt260{
        margin-bottom: 0;
    }
    .middle_4 {
        bottom: 5%;
        left: 3% !important;
    }
    .text_2 {
        width: 350px;
    }
    .mt_4{
        margin-top: 0;
    }
    .mt30{
        margin-top: 60px;
    }
    .mt_25{
        margin-top: 25px;
    }
    .pb_5{
        padding-bottom: 40px;
    }
    .hgt{
        height: 150%;
        padding-bottom: 30%;
    }
    .img_pstn_8{
        position: unset;
        top: 100%;
        left: 0;
    }
    .img_pstn_9{
        position: unset;
    }
    .txt_pstn_2 {
        position: absolute;
        bottom: -13%;
        left: 46%;
    }
    .txt_pstn_3 {
        position: absolute;
        bottom: -20%;
        left: 30%;
    }
    .ml_txt{
        margin-left: 37%;
        margin-top: 2%;
    }
    .ml_txt_2{
        margin-left: 25%;
    }
    .txt_pstn{
        position: unset;
    }
    .txt_pstn_1{
        position: unset;
    }
    .img_pstn_4{
        top: -1%;
        z-index: -5;
    }
    .img_pstn_5{
        top: -5%;
        right: -18%;
        overflow: hidden;
    }
    .ml11{
        margin-left: 5%;
    }
    .ml130{
        margin-left: 12%;
    }
    .img_pstn_6{
        position: uns;
    }
    .img_pdng{
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    .fnt_news{
        top: 8%;
        left: 15%;
    }
    .mt_5{
        margin-top: 0;
    }
    .mt220{
        margin-top: 10%;
    }
    .mt100{
        margin-top: 4%;
    }
    .form-control {
        
        width: 100%;
        padding: 10px 10px 10px 40px;
        border-radius: 1px;
    }
    .flex-clmn{
        flex-direction: column;
    }
    .mt_img{
        margin-top: 50px;
    }
    .img_pstn10 {
        margin-top: 100px;
    }
    .img_pstn14 {
        margin-top: 100px;
    }
    .img_pstn17 {
        margin-top: 100px;
    }
    .col_btm_br{
        border-bottom: 1px dotted #000000;
    }
}
@media (min-width:576px) {
    .img_pstn18{
        position: absolute;
        left: 0;
        bottom: -1%;
    }
    .img_pstn19{
        position: absolute;
        right:1% ;
        top: 20%;
    }
    .img_pstn20{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .img_pstn21{
        position: absolute;
        bottom: 85%;
        left: 10%;
    }
    .img_pstn22{
        position: absolute;
        right: -11%;
        top: 25%;
    }
    .img_pstn23{
        position: absolute;
        top: -10%;
        left: -5%;
    }
    .flex-clmn{
        flex-direction: unset;
    }
    .col_btm_br{
        border-bottom: none;
    }
    .col_bttm_br{
        border-bottom: 1px dotted #000000;
    }
    .col_rgt_br_2{
        border-right: 1px dotted #000000;
    }
    .col_rgt_br_3{
        border-right: 1px dotted #000000;
    }
    .mt_20 {
        margin-top: unset;
    }
    .ds_none{
        display: none;
    }
    .mt_img{
        margin-top: 50px;
    }
    .txt_pstn_3 {
        position: absolute;
        bottom: 0%;
        left: 21%;
    }
    .txt_pstn_2 {
        position: absolute;
        bottom: 8%;
        left: 46%;
    }
    .hgt {
        height: 150%;
        padding-bottom: 10%;
    }
    .mt_15 {
        margin-left: 1%;
        margin-top: 8% ;
    }
    .ml130 {
        margin-left: 8%;
    }
    .ml17 {
        margin-top: 16%;
        margin-left: 1%;
    }
    .fnt_news {
        top: 10%;
        left: 18%;
    }
    .form-control {
        margin-left: 10%;
        width: 100%;
        padding: 10px 10px 10px 40px;
        border-radius: 1px;
    }
    .btn {
        margin-right: 20%;
        margin-bottom: 3%;
    }
    .img_pstn10 {
        margin-top: 100px;
        margin-left: 30%;
    }
    .img_pstn14 {
        margin-top: 100px;
        margin-left: 30%;
    }
    .img_pstn17 {
        margin-top: 100px;
        margin-left: 30%;
    }
}
 @media (min-width:768px) {
    .img_pstn18{
        position: absolute;
        left: 0;
        bottom: -1%;
    }
    .img_pstn19{
        position: absolute;
        right:1% ;
        top: 20%;
    }
    .img_pstn20{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .img_pstn21{
        position: absolute;
        bottom: 62%;
        left: 10%;
    }
    .img_pstn22{
        position: absolute;
        right: 20%;
        top: 0;
    }
    .img_pstn23{
        position: absolute;
        top: 12%;
        left: 10%;
    }
    .col_rgt_bdr_1{
        border-right: 1px dotted #000000;
    }
    .col_btm_br{
        border-bottom: none;
    }
    .col_rgt_br{
        border-right: none;
    }
    .col_rgt_br_3{
        border-right: none;
    }
        .ds_flex{
        display: unset;
        }
        .col_brdr{
            border-bottom: 1px dotted #000000;
        }
        .box_4 {
            top: 40%;
            border-radius: 40px 0 0 40px;
            height: 70%;
            right: 0;
        }
        .pt30 {
            margin-top: -16%;
            margin-left: 15%;
        } 
        .pt90 {
            margin-top: -25%;
            margin-left: 10px;
        }
        .ml120 {
            margin-left: 15%;
        }
        .ml135 {
            margin-left: 18%;
        }
        .box_5 {
            border-radius: 40px 40px 40px 40px;
            left: 5%;
            top: 35%;
            height: 75%;
        }
        .mt_01 {
            margin-top: 50%;
            margin-left: 5%;
        }
        .ml17 {
            margin-top: 50%;
            margin-left: 1%;
        }
        .mt_img1{
            margin-top: -170%;
        }
        .img_2{
            padding-bottom: 50%;
        }
        .img_3{
            margin-top: -150%;
        }
        .box_6 {
            width: 90%;
            height: 100%;
            border-radius: 40px 40px 40px 40px;
            right: 5%;
            top: 10%;
        }
        .mt_10 {
            margin-top: 12%;
            margin-left: 5%;
        }
        .mt_15 {
            margin-left: 1%;
            margin-top: 13%;
        }
        .ml10 {
            margin-left: 10%;
        }
        .ml20 {
            margin-left: 12%;
        }
        .fnt_news {
            top: 10%;
            left: 15%;
        }
        .form-control {
            margin-left: -10%;
            width: 150%;
            padding: 10px 10px 10px 40px;
            border-radius: 1px;
        }
        .btn {
            margin-right: 20%;
            margin-bottom: 3%;
        }
        .img_pstn10 {
            margin-top: 100px;
            margin-left: 35%;
        }
        .img_pstn14 {
            margin-top: 100px;
            margin-left: 35%;
        }
        .img_pstn17 {
            margin-top: 100px;
            margin-left: 35%;
        }
        .txt_pstn_2 {
            position: absolute;
            bottom: 8%;
            left: 40%;
        }
}
@media (min-width:992px) {
    .ds_block{
        display: unset;
    }
    .img_pstn18{
        position: absolute;
        left: 0;
        bottom: -1%;
    }
    .img_pstn19{
        position: absolute;
        right:1% ;
        top: 20%;
    }
    .img_pstn20{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .img_pstn21{
        position: absolute;
        bottom: 52%;
        left: 10%;
    }
    .img_pstn22{
        position: absolute;
        right: 20%;
        top: -10%;
    }
    .img_pstn23{
        position: absolute;
        top: 12%;
        left: 10%;
    }
    .w_100{
        width: 30%;
    }
    .ds_none{
        display: unset;
    }
    .mt_25{
        margin-top: unset;
    }
    .mt30{
        margin-top: 0;
    }
    .box_4{
        width: 90%;
        height: 365px;
        border-radius: 40px 0  0 40px;
        top: 48%;
        z-index: -1;
        right: 0;
    }
    .mt_img1 {
        margin-top: -106%;
    }
    .pt30 {
        margin-top: 1%;
        margin-left: 17%;
    }
    .pt90{
        margin-top: 0%;
        padding-left: 20px;
    }
    .box_5{
        position: absolute;
        width: 90%;
        height: 78%;
        border-radius: 0 40px 40px 0;
        left: 0;
        top: 28% ;
    }
    .box_6{
        width: 90%;
        height: 100%;
        border-radius: 40px 0 0 40px;
        right: 0;
        top: 22%;
     }
     .img_2 {
        padding-bottom: 15%;
    }
    .img_3 {
        margin-top: -90%;
    }
    .ml120{
        margin-left: 38%;
    }
    .ml135{
        margin-left: 40%;
    }
    .mt250{
        margin-top: 180px;
    }
    .mt_01{
        margin-top: 1%;
        margin-left: 0;
    }
    .mt15{
        margin-top: 40px;
        margin-left: 10px;
     }
     .ml10{
        margin-left: 1%;
     }
     .mt260{
        margin-top: 150px;
        margin-bottom: 10%;
    }
    .mt_img2 {
        margin-top: 0;
    }
    .mt_10{
        margin-top: 18%;
        margin-left: 18%;
    }
    .mt_15 {
        margin-top: 25% ;
        margin-left: 10px;
     }
     .ml17{
        margin-top: 5%;
     }
     .ml11{
            margin-left: 20%;
     }
     .ml20{
        margin-left: 4%;
    }
    .ml130{
        margin-left: 22%;
    }
    .img_pstn_8{
        position: absolute;
        top: 15%;
        left: -25%;
    }
    .txt_pstn{
        position: absolute;
        bottom: -16%;
        left: -20%;
    }
    .txt_pstn_1{
        position: absolute;
        bottom: -25%;
        left: -20%;
    }
    .img_pstn_9{
        position: absolute;
        top: 18%;
        left: -30%;
    }
    .txt_pstn_2{
        position: absolute;
        bottom: -18%;
        left: 15%;
    }
    .txt_pstn_3{
        position: absolute;
        bottom: -25%;
        left: -9%;
    }
    .hgt{
        height: 750px;
    }
    .mt_20{
        margin-top: 0;
    }
    .img_pstn_5{
        position: absolute;
        top: -10%;
        right: -10%;
    }
    .fnt_news{
        position: absolute;
        top: 30%;
        left: 17%;
    }
    .box_2{
        width: 95%;
        height: 300px;
        border-radius: 45px;
        background: #F0F0F0;
    }
    .mt220{
        margin-top: 200px;
    }
    .mt100{
        margin-top: 100px;
       
    }
    .form-control {
        width: 490px;
        padding: 10px 10px 10px 40px ;
        border-radius: 1px;
        margin-left: -10%;
    }
    .btn {
        margin-left: -35px;
        width: 100px;
        height: 45px;
        border: none;
    }
    .text_2 {
        width: 500px;
    }
    .middle_4 {
        bottom: 5%;
        left: 10% !important;
    }
    .img_pstn10 {
        margin-top: 15%;
        margin-left: 40%;
    }
    .img_pstn14{
       margin-top: 15%;
           margin-left: 27%;
    }
    .img_pstn17{
       margin-top: 15%;
           margin-left: 8%;
    }
    .ds_block{
        display: block;
     }
}
@media (min-width:1200px) {
    .img_pstn18{
        position: absolute;
        left: 0;
        bottom: -1%;
    }
    .img_pstn19{
        position: absolute;
        right:1% ;
        top: 20%;
    }
    .img_pstn20{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .img_pstn21{
        position: absolute;
        bottom: 52%;
        left: 10%;
    }
    .img_pstn22{
        position: absolute;
        right: 20%;
        top: 20%;
    }
    .img_pstn23{
        position: absolute;
        top: 12%;
        left: 10%;
    }
    .img_pstn_6 {
        left: -3%;
    }
    .pt90 {
        margin-top: 3%;
        padding-left: 5px;
    }
    .mt_15 {
        margin-top: 23%;
    }
    .mt_img1 {
        margin-top: -65%;
    }
    .img_3 {
        margin-top: -1%;
    }
    .box_4 {
        top: 55%;
    }
    .box_5 {
        top: 45%;
    }
    .box_6 {
        top: 30%;
    }
    .img_pstn10 {
        margin-left: 45%;
    }
    .img_pstn14 {
        margin-left: 30%;
    }
    .img_pstn17 {
        margin-top: 18%;
        margin-left: 10%;
    }
    .txt_mrgn{
        margin-left: 40%;
    }
    .txt_mrgn1{
        margin-right: 25%;
    }
    .fnt_news {
        top: 29%;
        left: 22%;
    }
    .form-control {
        width: 200%;
        margin-left: 1%;
    }
    .btn {
        margin-right: 25%;
        margin-bottom: 1.4%;
    }
    .ml120{
        margin-left: 30%;
    }
    .ml135 {
        margin-left: 32%;
    }
    .ml10 {
        margin-left: 15%;
    }
    .ml20 {
        margin-left: 17%;
    }
    .ml11 {
        margin-left: 33%;
    }
    .ml130 {
        margin-left: 35%;
    }
}   